body {
    margin: 0;
  }

  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
    transition: 0.4s;
    z-index: 100;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

  }
  
  #navbar a:hover {
    background-color: #d8dfe3;
    color: #330099;
  }
  
  #navbar a.active {
    background-color: #330099;
    color: white;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 10px;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
#logo {
    transition: 0.4s;
    width: 100%;
    height: 100%;
  }
  .mon-logo{
    height: 100%;
    width: 45%;
  }
  #parole{
    width: 100%;
    background-color: #330099;
    margin-top: 20vh;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #parole > div:nth-child(1)>div{
    width: 100%;
    height: 100%;
    transform: rotate(-20deg);
    box-shadow: 0.5px 0.5px 3px #333;
    transition: 1000ms;
    background-image: url('../image/laye-seconde.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  #parole > div:nth-child(1)>div:hover{
    transform: rotate(0deg);
    transition: 1000ms;
    background-image: url('../image/maths.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #partenaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  marquee>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
  }
  marquee img{
    width: 300px;
    height: 200px;
  }
  marquee>div img:nth-child(3){
    width: 150px;
    height: 120px;
    position: relative;
    top: -10px;
  }
  marquee>div img:nth-child(4){
    width: 200px
    
  }

  #parole > div:nth-child(1){
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    width: 10%;
    height: 70%;
    box-shadow: 0.5px 0.5px 3px #333;

  }
  #parole > div:nth-child(2){
    width: 60%;
    height: 70%;
  }
  #parole > div:nth-child(2) p{
    font-size: 15px;
    text-align: justify;
    color: #f7f9ff;
  }
  #parole strong{
    color: #f7f9ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #cercle1{
    border-right: 10px solid #330099;

    border-radius: 100%;
    margin-left: -500px;
    position: absolute;
    z-index: -10;
  }
  #cercle1.cerle1{
    height: 100vh;
    width: 60%;
    transition: 3000ms;
  }
  #cercle1.cerle2{
    width: 50%;
    transition: 3000ms;
    height: 70vh;
  }
  #cercle2{
    border-left: 10px solid #330099;
    border-bottom: 10px solid #330099;
    border-radius: 100%;
    right: 0px;
    position: absolute;
    z-index: -20;
    top: 200px;
  }
  #cercle2.cerl1{
    height: 80vh;
    width: 100%;
    transition: 1000ms;
  }
  #cercle2.cerl2{
    width: 50%;
    transition: 1000ms;
    height: 110vh;
  }
  .bg-img {
    /* The image used */
    background-image: url("../image/background.jpg");

    height: 50vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
  }

  .topnav{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
    background-blend-mode: darken;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
  .machine{
    width: 100%;
    height: 25em;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5%;
  }

  .machine img{
    width: 100%;
    height: 100%;
    box-shadow: 0.5px 0.5px 3px gray;
    position: relative;
    left: -15px;
    top: -15px;
  }
  .machine button{
    width: 35%;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border:1px solid #330099;
    background-color: #fff;
    border-radius: 10px;
  }
  .machine button:hover{
    background-color: #ffdb2a;
    transition: 1000ms;
  }

  .machine > div:nth-child(1){
    width: 20%;
    height: 80%;
    box-shadow: 0.5px 0.5px 3px #333;
    background-color: #330099;
  }
  .machine > div:nth-child(2){
    width: 30%;
  }
  .machine>div strong{
    color: #330099;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

  }
  .machine>div p{
    font-size: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;

  }


  .profil{
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .nom{
    color: white;
    font-weight: bold;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .monprofil{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
  }

  .link-logo{
    width: auto;
    height: auto;
  }


#section1{
  width: 20%;
  height: 100%;
  transform: translateX(-2000px);
  z-index: -5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
#section1.section1-vue{
  transform: translateX(0px);
  transition: 1000ms;

}
#section2{
  width: 20%;
  height: 100%;
  z-index: -5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
#section3{
  width: 20%;
  height: 100%;
  transform: translateX(-2000px);
  z-index: -5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#section3.section3-vue{
  transform: translateX(0px);
  transition: 1000ms;
}

.div-section{
  width: 100%;
  height: 60%;
}
.div-section-image{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0.5px 0.5px 3px #333;

}

.div2-section{
  width: 40%;
  height: 40%;
  border-radius: 100%;
  border: 2px;
  position: relative;
  bottom: 40px;
}

.div2-section-image{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 4px solid #fff;
}

#section4{
  width: 100%;
  height: 25em;
  background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: -12;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.5px 0.5px 3px gray;
}

.div-section4{
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 4px 18px gray;
}

.div1-section4,.div2-section4,.div3-section4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  gap: 10px;
  height: 20%;
  border-left: 2px solid #330099;
  border-right: 6px solid #330099;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;


}

.image-article{
  width: 60%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 3px 4px 6px gray;
  transition: 1000ms;

}

.div2-section4{
  transform:translateX(60px);
}
.div1-section4,.div3-section4{
  transform:translateX(-60px);
}

.image-article:hover{
  border-radius: 10px;
  transition: 1000ms;
}
.div-section4>p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 0.5em;
  color: #330099;

}
/*SECTION 5 */

#section5{
  background-image: url("../image/thumbnail.jpeg");
  height: 50vh;
  border: 2px solid #f1f1f1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-section5{
  background-blend-mode: darken;
  width: 100%;
  height: 100%;
}

/* pied de page */

footer{
  margin-top: 1em;
  width: 100%;
  height: 15em;
  background-color:#333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 3px gray;

}

footer>div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}
footer>div button{
  color: #8e9eab;
  border: 2px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;

}
footer i{
  color: #330099;
  font-size: 25px;
}
footer p{
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.8em;

}
footer button:hover{
  background-color: #ffdb2a;
  transition: 1000ms;
  border: 2px solid #ffdb2a;
}



/* first media screen */
@media screen and (max-width:1000px){
 
}

/* second media screen */
@media screen and (max-width:1000px){
  
}
@media screen and (max-height:750px){
  
}
